@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Yellowtail&display=swap');

//Colors

$color-0: #000000;
$color-1: #2C3333;
$color-2: #395B64;
$color-3: #2666CF;
$color-4: #F5F2E7;

//Colors Google-btn

$white: $color-4;
$google-blue: $color-1;
$button-active-blue: $color-1;

//Fonts

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Yellowtail', cursive;